body {
  background-color: #e4e4e4;
}
p{
  margin-bottom: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
.pagee{
  display: flex;
}
aside{
  width:0px;
  background-color:#e5f3ff;
  color: #3334a1;
  overflow: hidden;
  transition: .3s;
  

}
.showAside{
  width:180px;
}
aside ul{
  position: relative;
} 
aside ul li {
  width: 155px;
  height: 50px;
  border-bottom: 1px solid #1ba1d4 ; 
}
.setting { 
  padding:0 ; 
  width: 100%;
  background-color: #fff;
  margin-left: 0;
  border: none;
  color: #8fafd6;
  font-size: 20px;
  text-align: left;
  padding-inline-start: 10px;
  height: 50px;
}
.searchs{
  width: 100%;
  display: flex;
}
.searchs input{
  background-color: #e5f3ff;
  border: none;
  font-size: 10px;
  padding: 11px 4px;
      
  }
  .searchs input:focus{
      outline: none;
  }
.searchIcon{
      color: #1ba1d4; 
      width: 100%;
    padding-top: 6px; 
  }
  /* .admin{
    display: flex;
    justify-content:  center;
    font-size: 10px;
  }  */
  .photo{
    display: flex;
    font-size: 13px;
    padding-top: 5px;
    font-weight: bold;
    color: #3334a1;
  }
.imgg{
  width:40px;
  padding: 2px;
} 
.imgg img{
  width: 100%;
  border-radius: 50%;
}
.page {
  width: 25px;
  height: 25px;
  background-image: radial-gradient(#FFF,#8fafd6);
  font-size: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 15px;

}
.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;

}
.icon{
  color: #fff;

}
.list1 a{
  display: flex;
  align-items: center;
  transition: .3s;
  padding-top: 5px;
  color: #3334a1;

  }

  .ul-list{
    margin-top: 15px;
    position: absolute;
    display: none;

  }
  
  .dash:hover .ul-list{
    display: block;
  }
  .list1:hover .list1 span{
    margin-left: 25px;
  }


/* /////////////////////////////////////////////////////////////////////////////////// */
/* start navbar */
nav {
  height: 50px;
  background-color: #f1f9ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bread span {
  color: #3334a1;
  font-size: 20px;
  margin-inline-end: 12px;
} 
.bread ul li,
.links ul li {
  list-style: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 550;
  margin: 0;
  padding: 0;
}

.bread ul li a {
  text-decoration: none;
  color: #7bc7e7;
}
.links ul li a {
  text-decoration: none;
  color: #0c8bd9;
  margin-inline-start: 40px;
  font-size: 20px;
}
a.bookmark{
  margin-inline-start:0 !important;
}

.notification {
  width: 10px;
  height: 10px;
  color: #fff;
  background-color: red;
  font-size: 9px;
}

.name img {
  width: 30px;
  border-radius: 50%;
  margin-inline-start: 40px;
}
.name .btn-secondary{
  color: #0c8bd9;
    font-size: 20;
    font-size: 16px !important;
    background-color:#f1f9ff!important;
    border: none;
}


/* Start main */
main {
  background-color: #fff;
}
/* second bar */
.secBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.secBar button {
  height: 30px;
  border-radius: 3px;
  color: #fff;
  border: transparent;
  padding: 6px 13px;
  font-size: 12px;
  background-color:#1f60ad; 
  margin: 15px 0;
}

.secBar button:first-of-type {
  background-color: #3ad0d3;;
  margin-inline-end: 20px;
}
/*Start Article*/

.article {
  color: #28459f;
  border-right: 2px solid #e4e7f3;
}
.heading{
  font-size: 17px;
  font-weight: bolder;
}
.heading .image {
  margin-inline-start: 20px;
  width: 25px;
  display: inline-block;

}
.article .image img {
  width: 100%;
}

 figure {
  /* margin-inline-start: 40px; */
  padding-top: 10px;
}
figure img{
  width: 650px;
} 
figure figcaption {
  font-size: 12px;
  padding-top: 5px;
}
 figure figcaption span {
  font-weight: 500;
}
.article p {
  font-size: 13px;
  padding-inline-end: 20px;;
}
/*End Article*/
/*--------------------------------------*/
/*Start sections*/
.par {
  background-color: #e5f3ff;
  color: #1ba1d4;
  /* margin: 20px; */
  /* margin-inline-start: 40px; */
  padding-top: 45px;
  padding-bottom: 1px;
  border-radius: 5px;
  padding-inline: 10px;
  margin-top: 30px;
}
section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
section span,
.data,
.related_news span {
  font-size: 15px;
  font-weight: 500;
  padding-inline: 5px
}

section ul {

  max-width: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit,50px);
}

section ul li {
  margin-inline: 4px;
    font-size: 13px;
    color: #1ba1d4;
    padding: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: 3px 3px 8px #dbe3e4;
    border: none;
}
/*----------------------------*/
.related_news h6{
  padding-inline: 5px;
}
.related_news .news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  background-color: #fff;
  padding-inline: 6px;
  /* width: 100%; */
}
.news > div{
  display: inline-flex;
  

}
.images{
  width:60px  ;
  margin-inline-end: 8px;
  padding: 5px 0;
}
.images img {
  width: 100%;
}

.related_news div a {
  color: #1ba1d4;
  font-size: 10px;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
}
.related_news div i{
  color: #555;
  
}
.btn-secondary{
background-color: #1ba1d4;
border-color: #1ba1d4;
font-size: 12px; }
/* End main */


/*media Query*/
@media (max-width:768px){
  nav{
    height: auto;

  }
  .icons{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  a.bookmark{
    margin-inline-start:0 !important;
  }
  
  .bread span{
    margin-inline-end: 15px;
  }
  .bread ul li{
    font-size: 17px;
  }
  .links ul li{
    /* margin-inline-start: 18px; */
    font-size: 17px;
}

.name img {
  width: 27px;
  /* margin-inline-start: 15px; */
}
    .content{
      display:block;
    }
    hr{
      display: none;
    }
    .article,.sid{
      width: 100%;
    }
  }  
  @media (max-width:992px){
    /* nav{
      height: auto;
    } */
    a.bookmark{
      margin-inline-start:0 !important;
    }
    
    .icons{
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .bread ul li{
      font-size: 17px;
    }
    .links ul li{
      margin-inline-start: 8px;
      font-size: 17px;
  }
  .name img {
    width: 27px;
    margin-inline-start: 5px;
  }
      .content{
        display:block;
      }
      hr{
        display: none;
      }
      .article,.sid{
        width: 100%;
      }
    }  
  
/* @medai (max-width:425px){

}
@media (max-width:275px){

} */